#!/bin/bash

export PROJECT_ROOT=$(pwd)

export PATH=$PROJECT_ROOT/bin:$PATH
export PATH=$PROJECT_ROOT/node_modules/.bin:$PATH

export NODE_VERSION=`jq '.engines.node' package.json | tr -d '"'`
export PATH=$PROJECT_ROOT/opt/node$NODE_VERSION/bin:$PATH

# Figure out what OS we're running.
case $(uname -s) in
Darwin) OS=macos ;;
Linux) OS=linux ;;
*) echo "Unsupported OS $(uname -s)"; exit 1 ;;
esac

export OS=$OS

if [ -f $PROJECT_ROOT/secrets.sh ]; then
  source $PROJECT_ROOT/secrets.sh
fi